In [1]:
%cd ..

C:\Users\bloic\Desktop\Promutuel_technique

In [2]:
from os.path import join
from config import *

import pandas as pd
import numpy as np

# Première ouverture des données

Ici se trouve le code qui va nous permettre de mettre de l’ordre dans les fichiers et déterminer quel est le rôle de chacun :  
- calendar_data.csv *vs.* calendar.csv
- listings_data.csv *vs.* listings.csv
- reviews_data.csv *vs.* reviews.csv

In [3]:
df = pd.read_csv(join(DATA_DIR, 'calendar_data.csv'))

In [4]:
df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1486498,2021-02-10,t,$129.00,$129.00,1,30
1,54334,2021-02-10,f,$100.00,$100.00,2,180
2,54334,2021-02-11,f,$100.00,$100.00,2,180
3,54334,2021-02-12,f,$100.00,$100.00,2,180
4,54334,2021-02-13,f,$100.00,$100.00,2,180
...,...,...,...,...,...,...,...
845335,46580838,2022-02-05,f,$20.00,$20.00,31,1125
845336,46580838,2022-02-06,f,$20.00,$20.00,31,1125
845337,46580838,2022-02-07,f,$20.00,$20.00,31,1125
845338,46580838,2022-02-08,f,$20.00,$20.00,31,1125
845339,46580838,2022-02-09,f,$20.00,$20.00,31,1125