In [1]:
%cd ..

C:\Users\bloic\Desktop\Promutuel_technique

In [2]:
from os.path import join
from config import *

import pandas as pd
import numpy as np

import json

# Première ouverture des données

Ici se trouve le code qui va nous permettre de mettre de l’ordre dans les fichiers et déterminer quel est le rôle de chacun :  
- calendar_data.csv
- listings_data.csv *vs.* listings.csv
- reviews_data.csv *vs.* reviews.csv

De cette première ouverture des données, nous cherchons également à nous dégager une potentielle problématique.  
En effet, suivant les informations auxquelles nous avons accès, plusieurs styles de projets peuvent être envisageables, cette découverte consiste à élager le domaine des possibles.

In [3]:
df_review_data = pd.read_csv(join(DATA_DIR, 'reviews_data.csv'))
df_review_data

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,54334,374097,2011-07-15,648663,Anisha,"Despite the slight language barrier, she was a..."
1,54334,382949,2011-07-19,685088,Kerry,"The apartment was charming, fully equipped, an..."
2,54334,414622,2011-08-02,137805,Micheline,Appartement joliment décoré et hôtes sympas.
3,54334,6168605,2013-08-02,4918298,Stephane,Logement très bien équipé et très propre.\r\nL...
4,54334,6443564,2013-08-12,5117814,Annie,"Nos hôtes ont été merveilleux ! Courtois, acc..."
...,...,...,...,...,...,...
89970,47405194,722814567,2021-01-08,277097082,Karen,Super place et on se sent très bien. J'y retou...
89971,47709757,724921096,2021-01-17,242627957,Mathilde,"pour le prix , cest un bon deal"
89972,47709757,725661456,2021-01-20,162900988,Dago,"Excellent emplacement, proche de tout dans le ..."
89973,47709757,726019420,2021-01-22,151078640,Sarah,"Un petit cocon bien situé dans Québec, parfai..."
89974,47709757,726607397,2021-01-24,50217974,Sarah,Appartement très bien situé et confortable. On...

In [4]:
df_review = pd.read_csv(join(DATA_DIR, 'reviews.csv'))
df_review

       listing_id        date
0           54334  2011-07-15
1           54334  2011-07-19
2           54334  2011-08-02
3           54334  2013-08-02
4           54334  2013-08-12
...           ...         ...
89970    47405194  2021-01-08
89971    47709757  2021-01-17
89972    47709757  2021-01-20
89973    47709757  2021-01-22
89974    47709757  2021-01-24

[89975 rows x 2 columns]

In [5]:
df_listings_data = pd.read_csv(join(DATA_DIR, 'listings_data.csv'))
df_listings_data

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,54334,https://www.airbnb.com/rooms/54334,20210209201227,2021-02-10,Beau logement avec vue magnifique sur les mont...,Nous louons un appartement au sous sol de notr...,Nous habitons dans un endroit calme et paisib...,https://a0.muscache.com/pictures/317818/af61ed...,254811,https://www.airbnb.com/users/show/254811,...,10.0,9.0,10.0,NaN,t,1,1,0,0,0.80
1,138381,https://www.airbnb.com/rooms/138381,20210209201227,2021-02-10,Bed & Breakfast La California,Cette maison loin de chez vous est un superbe ...,"Situé sur le chemin Saint-Louis, près du site ...",https://a0.muscache.com/pictures/e9224551-d416...,675584,https://www.airbnb.com/users/show/675584,...,10.0,10.0,10.0,NaN,f,3,0,2,0,1.25
2,198548,https://www.airbnb.com/rooms/198548,20210209201227,2021-02-10,Fabulous view in heart of Québec,Ideal for a few weeks or several months. <br /...,Saint-Jean-Baptiste definitely is your best ch...,https://a0.muscache.com/pictures/e46bb202-f284...,960772,https://www.airbnb.com/users/show/960772,...,10.0,10.0,9.0,NaN,f,1,1,0,0,0.43
3,214967,https://www.airbnb.com/rooms/214967,20210209201227,2021-02-10,Au bord du fleuve,Ten minutes walking distance from upper and lo...,"La nature, le fleuve et la tranquillité du sec...",https://a0.muscache.com/pictures/f672f818-a78c...,1110010,https://www.airbnb.com/users/show/1110010,...,10.0,10.0,10.0,NaN,f,1,0,1,0,1.57
4,268812,https://www.airbnb.com/rooms/268812,20210209201227,2021-02-10,Apartment Old city Quebec condo,<b>The space</b><br />Apartment (one bedroom) ...,NaN,https://a0.muscache.com/pictures/2686551/57f4e...,1408583,https://www.airbnb.com/users/show/1408583,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,48088050,https://www.airbnb.com/rooms/48088050,20210209201227,2021-02-10,Loft 103,NaN,NaN,https://a0.muscache.com/pictures/5526241b-1861...,57453298,https://www.airbnb.com/users/show/57453298,...,NaN,NaN,NaN,NaN,t,7,6,1,0,NaN
2312,48088182,https://www.airbnb.com/rooms/48088182,20210209201227,2021-02-10,Loft 201,NaN,NaN,https://a0.muscache.com/pictures/d56e71f1-92b0...,57453298,https://www.airbnb.com/users/show/57453298,...,NaN,NaN,NaN,NaN,t,7,6,1,0,NaN
2313,48088287,https://www.airbnb.com/rooms/48088287,20210209201227,2021-02-10,Loft 202,NaN,NaN,https://a0.muscache.com/pictures/b68284a1-2524...,57453298,https://www.airbnb.com/users/show/57453298,...,NaN,NaN,NaN,NaN,t,7,6,1,0,NaN
2314,48088350,https://www.airbnb.com/rooms/48088350,20210209201227,2021-02-10,Loft 203,NaN,NaN,https://a0.muscache.com/pictures/d76d3a6f-2826...,57453298,https://www.airbnb.com/users/show/57453298,...,NaN,NaN,NaN,NaN,t,7,6,1,0,NaN
2315,48088429,https://www.airbnb.com/rooms/48088429,20210209201227,2021-02-10,Loft 302,NaN,NaN,https://a0.muscache.com/pictures/409b8169-31bf...,57453298,https://www.airbnb.com/users/show/57453298,...,NaN,NaN,NaN,NaN,t,7,6,1,0,NaN

In [6]:
df_listings = pd.read_csv(join(DATA_DIR, 'listings.csv'))
df_listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,54334,Beau logement avec vue magnifique sur les mont...,254811,Charlotte,NaN,Quartier 5-1,46.91400,-71.19565,Entire home/apt,100,2,93,2020-08-28,0.80,1,357
1,138381,Bed & Breakfast La California,675584,Mary,NaN,Sillery,46.76843,-71.26636,Private room,145,1,147,2019-12-15,1.25,3,364
2,198548,Fabulous view in heart of Québec,960772,Marianne,NaN,Saint-Roch,46.81233,-71.22545,Entire home/apt,150,30,49,2020-12-21,0.43,1,346
3,214967,Au bord du fleuve,1110010,Julie,NaN,Vieux-Québec/Cap-Blanc/Colline parlementaire,46.80286,-71.21271,Private room,83,2,162,2020-09-08,1.57,1,364
4,268812,Apartment Old city Quebec condo,1408583,Émilie,NaN,Vieux-Québec/Cap-Blanc/Colline parlementaire,46.81023,-71.21082,Entire home/apt,40,30,77,2019-02-07,0.69,1,311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,48088050,Loft 103,57453298,Richard,NaN,Saint-Roch,46.81413,-71.21978,Entire home/apt,41,1,0,NaN,NaN,7,356
2312,48088182,Loft 201,57453298,Richard,NaN,Saint-Roch,46.81438,-71.21902,Private room,28,1,0,NaN,NaN,7,328
2313,48088287,Loft 202,57453298,Richard,NaN,Saint-Roch,46.81414,-71.21980,Entire home/apt,44,1,0,NaN,NaN,7,351
2314,48088350,Loft 203,57453298,Richard,NaN,Saint-Roch,46.81357,-71.21915,Entire home/apt,42,1,0,NaN,NaN,7,330
2315,48088429,Loft 302,57453298,Richard,NaN,Saint-Roch,46.81414,-71.22056,Entire home/apt,41,1,0,NaN,NaN,7,327

In [7]:
df_calendar = pd.read_csv(join(DATA_DIR, 'calendar_data.csv'))
df_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1486498,2021-02-10,t,$129.00,$129.00,1,30
1,54334,2021-02-10,f,$100.00,$100.00,2,180
2,54334,2021-02-11,f,$100.00,$100.00,2,180
3,54334,2021-02-12,f,$100.00,$100.00,2,180
4,54334,2021-02-13,f,$100.00,$100.00,2,180
...,...,...,...,...,...,...,...
845335,46580838,2022-02-05,f,$20.00,$20.00,31,1125
845336,46580838,2022-02-06,f,$20.00,$20.00,31,1125
845337,46580838,2022-02-07,f,$20.00,$20.00,31,1125
845338,46580838,2022-02-08,f,$20.00,$20.00,31,1125
845339,46580838,2022-02-09,f,$20.00,$20.00,31,1125

In [8]:
df_neighbourhoods = pd.read_csv(join(DATA_DIR, 'neighbourhoods.csv'))
df_neighbourhoods

    neighbourhood_group                                 neighbourhood
0                   NaN                                     Cap-Rouge
1                   NaN                            Chutes-Montmorency
2                   NaN                            Cité Universitaire
3                   NaN                                   Des Châtels
4                   NaN                           Duberger-Les Saules
5                   NaN                                      Jésuites
6                   NaN                             Lac-Saint-Charles
7                   NaN                                    L'Aéroport
8                   NaN                                        Lairet
9                   NaN                                  Loretteville
10                  NaN                                     Maizerets
11                  NaN                                      Montcalm
12                  NaN                    Neufchâtel-Est/Lebourgneuf
13                  NaN                    Notre-Dame-des-Laurentides
14                  NaN                                       Plateau
15                  NaN                          Pointe-de-Sainte-Foy
16                  NaN                                  Quartier 4-2
17                  NaN                                  Quartier 4-3
18                  NaN                                  Quartier 4-5
19                  NaN                                  Quartier 4-6
20                  NaN                                  Quartier 5-1
21                  NaN                                  Quartier 5-2
22                  NaN                                  Quartier 5-4
23                  NaN                                   Saint-Émile
24                  NaN                           Saint-Jean-Baptiste
25                  NaN                                   Saint-Louis
26                  NaN                                    Saint-Roch
27                  NaN                               Saint-Sacrement
28                  NaN                                 Saint-Sauveur
29                  NaN                                       Sillery
30                  NaN                                    Val-Bélair
31                  NaN                                        Vanier
32                  NaN                                Vieux-Limoilou
33                  NaN                                  Vieux-Moulin
34                  NaN  Vieux-Québec/Cap-Blanc/Colline parlementaire

Avec cette première ouverture des données, nous avons une petite idée de comment connecter toutes les informations en un seul *DataFrame* afin de centraliser toute la données en un seul endroit. Toutefoirs, on excluera de ce *DataFrame* les informations concernant les tables des **reviews**.

## Découverte de *listings_data*

Cette table concentre la majorité des informations concernant les logements à louer sur Québec et ses alentours.

In [9]:
df_listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [10]:
df_listings_data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [11]:
df_listings_data['review_scores_rating']

0       96.0
1       98.0
2       94.0
3       99.0
4       98.0
        ...
2311     NaN
2312     NaN
2313     NaN
2314     NaN
2315     NaN
Name: review_scores_rating, Length: 2316, dtype: float64

In [12]:
df_listings_data['review_scores_cleanliness'].isna().sum()

423

In [13]:
len(df_listings_data)

2316

In [14]:
len(df_calendar['listing_id'].unique())

2316

# Le fichier Geojson

In [15]:
with open(join(DATA_DIR, 'neighbourhoods.geojson'), mode='r') as f:
    geo = json.load(f)

In [16]:
len(geo['features'])

35

$\rightarrow$ Le fichier *geojson* contient les 35 quartiers de Québec que l’on retrouve dans le *DataFrame* : df_neighbourhoods

Le *DataFrame* concernant le calendrier liste chacun des jours l’occupation d’un logement à louer sur Airbnb.

$\Rightarrow$ Maintenant que nous avons découvert les données et les colonnes, nous pouvons passer à une **EDA** un peu plus élaborée.

# Merge des listings avec le calendrier